<section *ngIf="hasRole('STUDENT')" class="event-list">
  <button [routerLink]="['/editar-estudante']">
  Editar Perfil
</button>
  <form>
  <input type="text" placeholder="Filtrar por nome" #filterText>
  <input type="date" #startDate>
  <input type="date" #endDate>

  <button
    class="primary"
    type="button"
    (click)="filterResults(filterText.value, startDate.value, endDate.value)">
    Filtrar
  </button>
</form>
</section>

<section class="resultsstudents" *ngIf="hasRole('STUDENT')">
  <app-evento *ngFor="let EventoComponent of filteredEventoList" 
              [evento]="EventoComponent">
  </app-evento>
</section>

<section class="resultsorganizer" *ngIf="hasRole('ORGANIZER')">
  <h2>Seus eventos</h2><br>
  <app-evento *ngFor="let EventoComponent of myEventList" 
              [evento]="EventoComponent">
  </app-evento>
</section>