
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #2c2c2c, #1c1c1c); 
  font-family: Segoe UI, sans-serif;
}

.login-logo {
  display: block;
  margin: 0 auto 1.5rem auto;
  width: 320px;      /* Fixed width for the logo */
  max-width: 100%;   /* Prevents overflow */
  height: auto;
}

.login-container{
    background-color: #444444; 
    border-radius: 20px;
    padding:30px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

h2 {
    margin-bottom: 25px;
    color: #ffffff; 
}

.login-container label{
    display:block;
    text-align: left;
    font-weight: 600;
    color: #ffffff; 
}

.login-container input{
    width:100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border 0.3s;
    background-color: #333333; 
    color: #ffffff;
}

.login-container input:focus {
  border-color: #85cec3; 
  outline: none;
}

.login-container button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background-color: #85cec3; 
    color: #000000; 
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #72b1a8; 
}

.login-container p {
  margin-top: 15px;
  color: #ccc; 
}

.login-container a {
  color: #85cec3; 
  text-decoration: none;
  font-weight: 600;
}

.login-container a:hover {
  text-decoration: underline;
}