<section>
      <div class="register-container">
        <h2>Cadastro de organizador</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <label>Email</label>
          <input type="email" formControlName="email" placeholder="Digite seu email" required />
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
            Email Inválido.
          </div>

          <label>Nome</label>
          <input type="text" formControlName="name" placeholder="Digite seu nome" required />
          <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
            Nome é obrigatório.
          </div>

          <label>Senha</label>
          <input type="password" formControlName="password" placeholder="Digite sua senha" required />
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
            A senha é obrigatório. Deve conter pelo menos 8 caracteres, uma letra maiúscula, uma letra minúscula e um número.
          </div>

          <label>Confirmar Senha</label>
          <input type="password" formControlName="confirmPassword" placeholder="Confirme sua senha" required />
          <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
            Confirme sua senha.
          </div>
          
          <button type="submit" [disabled]="registerForm.invalid">Register</button>
        </form>
        <button type="button" routerLink="/login">Cancelar</button>
      </div>
    </section>
